/* --------------------------------------------------------------------------------------------------------------------------------------------*/
h1{
    text-align: center;
    font: 200% serif;
    background-color: aliceblue;
}

body{
    background-color: cornflowerblue;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}


/* Sección1-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Formulario -----------------------------------------------------------------------------------------------------------------------------------*/
#seccion1{
    border-radius: 0px 33px 0px 33px;
    -moz-border-radius: 0px 33px 0px 33px;
    -webkit-border-radius: 0px 33px 0px 33px;
    border: 2px solid #000000;
    background-color: blanchedalmond;
    text-align: center;
    float:left;
    width: 800px;
    height: 600px;
    
    margin-right: 1%;
    margin-bottom: 1%;
}

#buton1{
    border-radius: 0px 0px 25px 25px / 0px 0px 30px 30px;
    border: 2px solid #000000;
    width: 170px;;
    height :70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;

}

/* Validación Formulario---------------------------------------------------------------*/
input {
    border: 2px solid currentcolor;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:focus {
background-image: linear-gradient(pink, red);
}



/* Sección2--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#seccion2{
    border-radius: 33px 0px 33px 0px;
    border: 2px solid #000000;
    background-color: blanchedalmond;
    text-align: center;
    float:left;
    width: 800px;
    height: 600px;
    margin-left: 5%;
    margin-bottom: 1%;

}



/* Sección3-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#seccionAbajo{
    
    border-radius: 0px 0px 25px 25px / 0px 0px 30px 30px;
    border: 2px solid #000000;
    background-color: #FFF188;
    text-align: center;
    width: auto;
    clear:both;
    margin-bottom: 1%;
    padding-bottom: 15%;    
    color: red;
    font-size: 30px;
    
    
}


